
{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href=" {% url 'logout' %}"> Logout </a>
{% else %}
    <a href=""> Register </a>
    <a href="{% url 'login' %}"> Login </a>
{% endif %}

<hr>
<h1>My events</h1>
<a href="{% url 'event-create' %}">Add Event</a>
<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.name }}</td>
        <td><a href="{% url 'event' event.id %}">View</a></td>
        <td><a href="{% url 'event-update' event.id %}">Edit</a></td>
        <td><a href="{% url 'event-delete' event.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No events yet</h3>
    {% endfor %}
</table>
